@import "icons";

.author_bio_main_wrap {
  border: 1px solid #ededed70;
  padding: 7px;
  display: flex;
  border-radius: 7px;
  flex-wrap: wrap;

  h1.author_name {
    margin-bottom: 0px;
  }

  .author_bio_left_col {
    flex: 1 0 0px;
    padding: 7px 0 0 0;

    a {
      box-shadow: none !important;
      text-decoration: none !important;
    }

    img {
      border-radius: 83px;
    }

  }

  .author_bio_content {
    flex: 3 0 0;
    padding: 0 0 0 14px;

    a {
      box-shadow: none !important;
      text-decoration: none !important;
    }

    box-shadow: none !important;
    text-decoration: none !important;
    .author_bio_descr p{
      font-size: 14px !important;
    }
    .author_bio_content_inner {
      position: relative;
      .author_bio_socials {
        text-align: center;
        position: absolute;
        right: -30px;
        display: grid;

        a {
          box-shadow: none !important;
          text-decoration: none !important;
        }
      }
    }

    .author_bio_socials {
      a {
        margin-right: 10px;
      }
    }
  }

  .author_email {
    text-decoration: none;
    font-size: 14px;
    margin: 0px;
    display: flex;

    a {
      color: black;
    }

    .authbio-mail {
      padding-top: 3px;
      padding-right: 7px;
    }
  }

  .author_bio_desig {
    font-weight: bold;
    margin-bottom: 2px !important;
  }

  .author_bio_left_col {
    .avater-image {
      width: 140px;
      margin: auto;
    }
    .author_bio_socials {
      justify-content: space-around;
      padding: 7px 0px 0px 0px;
      display: flex;
    }
  }

  .author_bio_socials_template1 {
    .author_bio_socials {
      text-align: center;
      display: flex;
    }
  }
  .socials_template1{
    margin-top: -12px;
  }

  .author_bio_socials {
    i {
      font-size: 18px;
      background: #7d7da5;
      border-radius: 19px;
      padding: 5px 5px 1px 5px;
      color: white;
    }
    a {
      color: #7d7da5;
    }

  }

}

//recent content CSS

.author_bio_recent_main_links {
  .auth_bio_recent_left {
    -webkit-box-flex: 1;
    flex: 1 0 0px;
    padding: 7px 0 0 0;

  }
  .auth_bio_avatar {
    width: 99px;
    float: left;
    margin-right: 23px;
    margin-top: -20px;
  }
  .auth_bio_avatar img{
    border-radius: 83px;
  }
  .auth_bio_recent_right_col {
    -webkit-box-flex: 3;
    flex: 3 0 0;
    padding: 0 0 0 14px;
    box-shadow: none !important;
    text-decoration: none !important;
  }

}


p.author_bio_more_post {
  font-weight: bold;
}
.author_bio_recent_main {
  display: flex;
  flex-wrap: wrap;

  .author_bio_recent_inner_post {
    width: 172px;
    flex: 1;
    margin-right: 15px;

    .auth_post_recent_img {
      min-width: 151px;
      min-height: 102px;
      background-size: cover;
    }
  }
}

/* Style the buttons inside the tab */
.auth_bio_tab_main button {
  font-size: 12px;
  padding: 1px 12px;
  background-color: #ecf0f4;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
}

/* Change background color of buttons on hover */

.auth_bio_tab_main{
  overflow: hidden;
  margin-top: 100px;
  margin-left: 29px;
  margin-bottom: -6px;
  button{
    color:black;
  }
  #auth_bio_left_btn{
    border-top-left-radius: 9px;
  }
  #auth_bio_right_btn{
    border-top-right-radius: 9px;
  }
  button:hover {
    color: #252525;
  }
}
div#auth_recent_tab {
  border: 1px solid #F7F7F7;
  border-radius: 8px;
  margin-top: 6px;
  padding: 23px;
}

/* Create an active/current tablink class */
.auth_bio_tab_main button.active {
  background-color: #aaa;
  color: white;
}

/* Style the tab content */
.auth_bio_tabcontent {
  display: none;
  padding: 6px 12px;
  border-top: none;
}
